body{
	background-color: #800;
	font-family: Arial;
}

#page{
	background-color: #FFF;
	padding: 10px;
	border-radius: 30px;
}

#sidebar{
	text-align: center;

}

p{
	text-align: left;
}

h1{
	text-align: center;
}

#sidebar ol, ul {
	list-style: none;
}

#sidebar a, a:active, a:visited {
	text-decoration: none;
	padding: 2px;
	border-radius: 8px;
	color: #900;
}
#sidebar a:hover {
	background-color: #839496;
	color: #000000;
}